@import "tailwindcss";

@layer utilities {
  @keyframes loading-bar {
    0% {
      width: 0%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .animate-loading-bar {
    animation: loading-bar 2s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out;
  }
}

.PhoneInputInput {
  @apply w-full outline-none p-1;
}

.PhoneInput {
  @apply rounded-md border px-3 py-2 text-sm focus:ring-2;
}